.wordsContainer {
  padding: 1.5rem;
  max-width: 1000px;
  display: flex;
  column-gap: 1rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  overflow: hidden;
  user-select: none;
  border-radius: 10px;
  font-size: 2rem;
  height: 100px;
}